<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="/static/events.js"></script>

<!--&lt;!&ndash;    Scripts&ndash;&gt;-->
<!--    <script type="text/javascript">-->
<!--        var epic = get_event_json()-->

<!--        console.log(epic)-->
<!--    </script>-->

</head>
<body>
<div class="header">
    <img src="../static/imgs/cssc_logo.svg" alt="" class="logoimg">
    <img src="../static/imgs/cssc_text.svg" alt="" class="textimg">
    <h1> | Dashboard</h1>

</div>
<div class="body_container">
<h2>Welcome my liege</h2>
<div class="container">

    <div class="row_container">
        <div class="col_container">
            <div class="events">
                <ul>
                    <div class="event">
                        <li>hello - 21marc</li>
                        hello
                    </div>
                    <li></li>
                </ul>
            </div>
            <div>
                Create event
            </div>
        </div>

        <div class="col_container">
            <div class="row_container">
                <h2>Update text on door</h2>
                <h2>Update text on door</h2>
            </div>
            <div>
                hello
            </div>
        </div>
    </div>

    <div class="rows_container">
        <div class="col_container">
            hello
        </div>
    </div>

</div>
</div>

</body>
</html>