<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="/static/events.js"></script>

</head>
<body>
<div class="header">
    <img src="../static/imgs/cssc_logo.svg" alt="" class="logoimg">
    <img src="../static/imgs/cssc_text.svg" alt="" class="textimg">
    <h1> | Finance</h1>
</div>
<div class="body_container">
<h2><a href="/auth/logout">Logout</a></h2> <br>

</div>


</body>
</html>