<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="/static/events.js"></script>

<!--&lt;!&ndash;    Scripts&ndash;&gt;-->
<!--    <script type="text/javascript">-->
<!--        var epic = get_event_json()-->

<!--        console.log(epic)-->
<!--    </script>-->

</head>
<body>
<div class="header">
    <img src="../static/imgs/cssc_logo.svg" alt="" class="logoimg">
    <img src="../static/imgs/cssc_text.svg" alt="" class="textimg">
    <h1> | Dashboard</h1>
</div>
<div class="body_container">
<h2>Currently logged in as: {{ username }}: <a href="/logout">Logout</a></h2> <br>

<div class="container">

    <div class="row_container">
        <div class="col_container">
            <div class="row_container">
                <h2>Door Control | Status: </h2>
                <h2 id="door_status">{{ door_status }}</h2>
            </div>
            <div class="row_container">
                <button id="door_open">Click to <b>open</b> door</button>
                <button id="door_close">Click to <b>close</b> door</button>
            </div>
            <i id="door_status_update_label" style="color: #808080">Last updated by</i>
            <h3>Update Text on Door</h3>
            <div>
                <form id="door_text_form" action="/api/door/set_text">
                    <label for="door_text">Update Door Text:</label><br>
                    <input type="text" id="door_text" name="door_text" value="{{ door_text }}"><br><br>
                    <div>
                        <input type="submit" id="door_text_submit" value="Update">
                        <span id="door_text_label"></span>
                    </div>
                </form><br>
                <i id="door_text_update_label" style="color: #808080">Last updated by</i>
            </div>

        </div>
    </div>

    <div class="row_container">
        <div class="col_container">
            <h2>RPI Status | <i id="rpi_status" style="color: green;">OKAY</i></h2>
            <div>
                <span style="color: black">Device's last ping was</span>
                <b id="rpi_ping_label"></b>
            </div>
            <i id="rpi_ping_time_label" style="color: #808080">null</i>
            

        </div>

    </div>
        


</div>

<script type="text/javascript" src="/static/js/door.js"></script>

</body>
</html>